@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    /* #f5f5f7 */
    --surface: 0 0% 100%;
    /* #ffffff */
    --surface-highlight: 220 14% 95%;
    /* #f1f2f4 */
    --text-primary: 220 39% 11%;
    /* #111827 */
    --text-secondary: 220 9% 46%;
    /* #6b7280 */
    --border: 220 13% 91%;
    /* #e5e7eb */
    --accent: 235 86% 74%;
    /* #818cf8 */
    --accent-foreground: 0 0% 100%;
    /* White text on accent */
    --accent-soft: 226 100% 97%;
    /* #eef2ff */
  }

  .dark {
    --background: 230 15% 8%;
    /* #111217 */
    --surface: 232 14% 11%;
    /* #181920 */
    --surface-highlight: 228 14% 14%;
    /* #1f2129 */
    --text-primary: 220 13% 91%;
    /* #e5e7eb */
    --text-secondary: 218 11% 65%;
    /* #9ca3af */
    --border: 224 11% 20%;
    /* #2d3038 */
    --accent: 230 96% 82%;
    /* #a5b4fc */
    --accent-foreground: 230 15% 8%;
    /* Dark text on accent */
    --accent-soft: 231 20% 19%;
    /* #272a3b */
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--text-primary));
    @apply antialiased;
  }
}